<div class="edit-page-body">
    <div class="edit-page-container search-box">
        <div>
            <h1>Edit Password</h1>
            <%- include('../../partials/error.ejs') %> 
            <form action="/profile/editpassword?_method=PUT" method="POST"> 
                <input name="currentpassword" type="password" placeholder="Current Password">
                <input name="password" type="password" placeholder="New Password">
                <button type="submit">Update Password</button>
            </form>
        </div>
    </div>
</div>

