.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-info-container{
    display: flex;
    align-items: center;
    padding: 1vh;
}

.person-info h4{
    margin-left: 10px;
}

.profile-info{
    position: fixed;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-grey;
    height: 90vh;
}

.profile-body{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.margin-left{
    margin-left: 35vw;
    width: 100%;
}

.feed-postlist-container{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius;
    overflow: hidden;
}

@media (max-width: 768px) {
    .profile-body{
        flex-direction: column;
    }
    .profile-info{
        position: relative;
        width: 100vw;
    }
    .margin-left{
        margin-left: 0;
    }
    .feed-postlist-container{
        width: 100vw;
    }
    button{
        scale: 0.8;
    }
    img{
        scale: 1.2;
    }
}

.post-list{
    padding: 5vw 7vw;
    background-color: $main-grey;
}


.post-container-all{
    padding: 5vw;
    background-color: $main-background;
    margin-top: 3vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: $border-radius;
}

.post-header{
    display: flex;
}

.post-user-container{
    flex: 1;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.post-text-container{
    padding-top: 2vw;
    padding-bottom: 2vw;

}

.post-stats-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2vw;
    
}

.comment-header{
    display: flex;
}

.comment-section{
    padding-left: 3vw;
    border-left: 1px solid gray;
}

.comment-user-container{
    flex: 1;
    padding-left: 0.7vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.fixed{
    position: static;
}

.container-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.container{
    width: 70vw;
    margin: auto;
    height: 90vh;
    padding-top: 4vw;
}

.register-body{
    height: 90vh;
    width: 100vw;
    background-color: $main-grey;
}

.register-container{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: $main-background;
    width: 30vw;
    height: 60vh;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px){
    .register-container{
        width: 80vw;
    }
}

.register-field{
    padding: 0.5vw;
    border-radius: $border-radius;
    border: 1px solid $main-blue;
}

.register-fields{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.error{
    display: flex;
    align-items: center;
    color: $error-text;
    padding: 0.5vw;
    border-radius: $border-radius;
    border: 1px solid $error-text;
}

.search-box{
    padding: 1.6rem;
    h1{
        text-align: center;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        input{
            height: 4vh;
            width: 20vw;
            border-radius: $border-radius;
            border: 1px solid $main-blue;
        }
        button{
            background-color: $white-text;
            color: $main-blue;
            border-radius: $border-radius;
            border: 1px solid $main-blue;
            padding: 0.4rem 0.8rem;
            font-size:large;
            cursor: pointer;
            margin-left: 0.2rem;
            
            &:hover{
                background-color: $main-blue;
                color: $white-text;
            }
        }
    }
}

.people-search-container{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: $main-grey;
    padding: 2rem;
    a{
        text-decoration: none !important;
    }
}

.person-search-container{
    width: 60%;
    background-color: $main-background;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    img{
        border-radius: 50%;
        width: 12vw;
        height: 12vw;
        border: 3px solid $main-dark-blue;
        margin-bottom: 0.3rem;
    }
}

.edit-page-container{
    width: 60vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-background;
    border-radius: $border-radius;
    form{
        display: flex;
        flex-direction: column ;
        align-items: center;
        gap: 1rem;
        justify-content: space-around;
    }
}

.edit-page-body{
    background-color: $main-grey;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//like-comment-lists

.likes,
.comments{
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
    background-color: lightgray;
    height: auto;
    border-radius: 7%;
    opacity: 0.9;
}
.like-drop-down,
.comment-drop-down{
    position: relative;
}

.like-btn,
.comment-btn{
    font-size: large;
    color: $main-blue;
    background-color: $main-grey;
    border-radius: $border-radius;
}

.comment,.like{
    padding: 0.7vw;
}

.like-btn:hover + .likes{display: flex; flex-direction: column; justify-content: space-around; align-items: center; width: auto;}
.comment-btn:hover + .comments{display: flex; flex-direction: column; justify-content: space-around; align-items: center; width: auto;}