<nav>
    <div>
       <a class="logo-link" href="/"> <h1 class="logo-text">HumaNet<i class="far fa-registered"></i></h1></a>
    </div>
    <ul>
        <li><a href="/login"><i class="fas fa-key"></i><h5 class="menu-point">Login</h5></a></li>
        <li><a href="/register"><i class="fas fa-unlock-alt"></i><h5 class="menu-point">Register</h5></a></li>
        <!-- <a href="/register">Register</a>
        <a href="/login">Login</a> -->
    </ul>
</nav>