<nav>
    <div>
        <a class="logo-link" href="/feed"><h1 class="logo-text">HumaNet<i class="far fa-registered"></i></h1></a>
        <!-- <img width="80" src="/img/tesla.png" alt=""> -->
    </div>
    <ul>
        <li><a href="/profile"><i class="far fa-user-circle fa-lg"></i><h5 class="menu-point">Profile</h5></a></li>
        <li><a href="/feed"><i class="fas fa-globe-americas fa-lg"></i><h5 class="menu-point">Feed</h5></a></li>
        <li><a href="/search"><i class="fas fa-search fa-lg"></i><h5 class="menu-point">Search</h5></a></li>
    </ul>
</nav>