$main-blue: #6A5ACD;
$main-grey: #F2F2F2;
$main-text: #141823;
$second-text: #808080;
$main-background: #ffffff;
$white-text: rgb(241, 241, 241);
$main-dark-blue: #38306e;
$border-radius: 0.3rem;
$text-shadow: 2px 2px 5px #c7c7c7;
$error-text: rgb(156, 0, 161);

$phone: 480px;
$tablet: 768px;