.index-image{
    width: 47vw;
    @media (max-width: 768px){
        width: 85vw;
    }
}

.date{
    color: $second-text;
}

.index-h1{
    font-size: 3vw;
    color: $main-blue;
    padding: 1vw;
    text-shadow: $text-shadow;
    @media (max-width: 768px){
        font-size: 10vw;
        text-align: center;
    }
}

.index-h3{
    font-size: 1.2vw;
}

.register-input{
    border: none;
    &:focus{
        outline: none;
    }
}

.fa-user-alt,
.fa-envelope,
.fa-lock,
.fa-file-alt{
    color: $main-dark-blue;
}

.register-h1{
    text-shadow: $text-shadow;
}

.error-text{
    font-size: 1vw;
}

#profile-image{
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    border: 3px solid $main-dark-blue;
    @media (max-width: 768px){
        width: 18vw;
        height: 18vw;
        margin: 1rem;
    }
}

.post-image{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 2px solid $main-dark-blue;
    @media (max-width: 768px){
        width: 8vw;
        height: 8vw;
    }
}

.comment-image{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 2px solid $main-dark-blue;
    @media (max-width: 768px){
        width: 7vw;
        height: 7vw;
    }
}

.comment-input{
    height: 4vh;
    width: 20vw;
    border-radius: $border-radius;
    border: 1px solid $main-blue;
    @media (max-width: 768px){
        width: 40vw;
    }
}